<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style='color:cadetblue'><%=title%></h1>
    <form action="/join" method="post">
        <input type="text" name="name" placeholder="Name"><p></p>
        <input type="text" name="userid" placeholder="UserId"><p></p>
        <input type="text" name="pwd" placeholder="Password"><p></p>
        <button>회원가입</button>
    </form>
</body>
</html>